
html[data-theme="dark"] {
  body {
    background-color: #2f2e38; /* Dark tema arka plan rengi */
    color: #ffffff; /* Dark tema metin rengi */
  }

  .card {
    background-color: #3f3e48; /* Dark tema kart arka plan rengi */
    color: #ffffff; /* Dark tema kart metin rengi */
  }
}