

html[data-theme="light"] {
  body {
    background-color: #ffffff; /* Light tema arka plan rengi */
    color: #000000; /* Light tema metin rengi */
  }

  .card {
    background-color: #f8f9fa; /* Light tema kart arka plan rengi */
    color: #000000; /* Light tema kart metin rengi */
  }
}
